blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0}
body,button,input,select,textarea{font:12px/1.5 "Microsoft YaHei", "微软雅黑", SimSun, "宋体", sans-serif;color: #666;}
ol,ul{list-style:none}
a{text-decoration:none}
fieldset,img{border:0;vertical-align:top;}
a,input,button,select,textarea{outline:none;}
a,button{cursor:pointer;}

/*header部分*/
.wrapper{
	width: 1220px;
	margin: 0 auto;
}
.header{
	height: 50px;
}
.logo{
	float: left;
}
.logo a img{
	width: 133px;
	height: 39px;
	margin-top: 5px;
	margin-right: 30px;
}
.nav-left{
	width: 700px;
	float: left;
}
.nav-left a{
	line-height: 50px;
	font-size: 14px;
	text-decoration: none;
	color: #000;
	padding: 0 10px;
}
a:hover{
	color: red;
}
.nav-left .last-child{
	color: red;
}
.nav-left .last-child img{
	margin-top: 10px;
	margin-left: 5px;
}
.nav-right{
	float: right;
}
.nav-right span{
	line-height: 50px;
	font-size: 14px;
	color: #000;
	padding: 0 10px;
	cursor: pointer;
}
.nav-right span:hover{
	color: red;
}
.nav-right span b{
	font-weight: 400;
	padding-left: 20px;
}
.nav-right span img{
	width: 16px;
	height: 16px;
	margin-top: 18px;
	margin-right: 5px;
}
/*导航栏结束*/


/*底部开始*/
.top-footer{
	height: 130px;
	background: #4b4a4a;
}
.top-footer-txt{
	float: left;
	line-height: 130px;
	font-size: 20px;
	color: #787878;
}
.top-footer-form{
	float: right;
	height: 44px;
	background: #2a2a2a;
	margin: 40px 35px 0 0;
	border-radius: 30px;
	padding: 3px;
}
.top-footer-form input{
	width: 353px;
	height: 44px;
	padding-left: 15px;
	border: 0;
	font-size: 16px;
	color: #fff;
	background: none;
}
.top-footer-form button{
	width: 70px;
	height: 44px;
	background: url(../img/ico20_1.png) no-repeat center #FC4349;
	border-radius: 50px;
	border: 0;
	float: right;
	cursor: pointer;
}
.top-footer-form .top-footer-btn:hover{
	background: url(../img/ico20_1.png) no-repeat center #ec151c;
}
.footer{
	background: #151515;
	padding-top: 75px;
	height: auto;
	overflow: hidden;
}
.footer .footer-logo{
	position: relative;
}
.footer .footer-logo h4 a{
	color: #fff;
	font-size: 16px;
	display: inline-block;
	position: absolute;
	top: 90px;
	left: 165px;
}
.footer .footer-logo h4 a:hover{
	color: red;
}
.footer-nav,.footer-logo,.footer-link,.footer-kefu{
	float: left;
}
.footer .footer-nav{
	margin-left: 60px;
	padding-top: 10px;
}
.footer .footer-nav dl{
	margin-right: 60px;
	float: left;
	width: auto;
}
.footer .footer-nav dd{
	margin-bottom: 30px;
}
.footer .footer-nav dd a{
	font-size: 16px;
	color: #fff;
}
.footer .footer-nav dd a:hover{
	color: red;
}
.footer .footer-kefu{
	height: 123px;
	margin: 15px 0 0 0;
}
.footer .footer-kefu .footer-kefu-img{
	float: left;
	width: 123px;
}
.footer .footer-kefu .footer-kefu-txt{
	width: 234px;
	float: left;
	margin-left: 10px;
}
.footer-kefu-txt-kefu a{
	color: #fff;
	font-size: 16px;
	padding-bottom: 6px;
	border-bottom: 1px solid #fff;
	display: block;
}
.footer-kefu-txt-kefu a:hover{
	color: red;
}
.footer-kefu-txt-kefu a img{
	margin-bottom: 0;
}
.footer-kefu-txt h4{
	font-size: 15px;
	color: #fff;
	line-height: 30px;
	margin-top: 10px;
}
.footer-link{
	float: right;
	padding-top: 20px;
	width: 245px;
	margin-right: 25px;
}
.footer-link h4{
	font-size: 16px;
	margin-bottom: 20px;
	line-height: 40px;
	color: #fff;
}
.footer-link a{
	width: 218px;
	height: 50px;
	border: 1px solid #fff;
	line-height: 50px;
	font-size: 16px;
	margin-top: 10px;
	text-align: center;
	color: #fff;
	display: block;
	background: #626262;
}
.footer-link a:hover{
	background: #fc4349;
	color: #fff;
	border: 0;
	transition: all 0.3s; 
}
.footer-p{
	width: 100%;
	text-align: center;
	line-height: 90px;
	margin-top: 60px;
	color: #fff;
	font-size: 14px;
	float: left;
}
/*底部结束*/

/*登陆*/
.mask{
	width: 100%;
	height: 100%;
	background: #3E3E3E;
	opacity: 0.5;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	display: none;
}
.box{
	width: 360px;
    height: auto;
	margin: 0 auto;
	padding: 0 80px;
	position: fixed;
	background: #fff;
	top: 65px;
	left: 405px;
	z-index: 1000;
	display: none;
}
.close{
	position: absolute;
	top: -36px;
	right: -18px;
	font-size: 30px;
	color: #fff;
	cursor: pointer;
}
.head{
	text-align: center;
	padding-top: 25px;
}
.head h2{
	font-size: 24px;
	line-height: 60px;
	color: #fc4349;
}
.head span{
	display: block;
	width: 44px;
	height: 3px;
	margin: 0 auto;
	background: #fc4349;
}
.box h4,
.box p{
	font-size: 14px;
	color: #8a8b8b;
	line-height: 50px;
}
.box .btn{
    display: inline-block;
	width: 100%;
	margin-top: 30px;
  	margin-bottom: 60px;
  	height: 45px;
  	line-height: 45px;
  	text-align: center;

}
.box h4{
	margin-top: 15px;
}
.box h4 a{
	color: #333;
	text-decoration: underline;
}
.form{
	width: 360px;
}
.box h4 a:hover{
	color: #fc4349;
}
.form-login{
	margin-top: 10px;
}
.form-login input{
	width: 100%;
	height: 40px;
	border: 1px solid #ececec;
	font-size: 14px;
	text-indent: 14px;
	margin-bottom: 14px;
}
.form-login input:hover{
	border: 1px solid #fc4349;
	transition: all 0.3s;
}
.form-login .rem{
	width: 100%;
	height: 17px;
	margin-top: 10px;
	position: relative;
}
.form-login .rem input[type=checkbox]{
	display: none;
}
.form-login .rem label{
	position: absolute;
	top: 0;
	left: 0;
	width: 15px;
	height: 15px;
	border: 1px solid #ececec;
	cursor: pointer;
}
input[type=checkbox]:checked + label{
	background: url(../img/yes.png) no-repeat;
}
.form-login span{
	font-size: 14px;
	line-height: 15px;
	color: #9fa0a0;
}
.box .form-login .rem .jzmm{
	float: left;
	padding-left: 23px;
}
.form-login .rem .wjmm{
	float: right;
	color: #9fa0a0;
	cursor: pointer;
}
.form-login .rem .wjmm:hover{
	color: #fc4349;
}
.form .btn{
	margin-top: 50px;
	background: #1a1a1a;
}
.box .btn input{
	
  	background: none;
  	font-size: 15px;
  	color:  #fff;
  	border: 0;
}
.form .btn:hover{
	background: #fc4349;
}
.form .btn a{
	display: inline-block;
	width: 100%;
	height: 45px;
	font-size: 15px;
	line-height: 45px;
	color: #fff;
	text-align: center;
}
.box p{
	text-align: center;
}
.box p a{
	color: #000;
}
.box p a:hover{
	color: #FC4349;
}
/*登录部分结束*/

/*注册部分开始*/
.mask{
	width: 100%;
	height: 100%;
	background: #3E3E3E;
	opacity: 0.5;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	display: none;
}
.box-2{
	width: 360px;
    height: auto;
	margin: 0 auto;
	padding: 0 80px;
	position: fixed;
	background: #fff;
	top: 65px;
	left: 405px;
	z-index: 1000;
	display: none;
}
.box-2 #form-login-yanzhengma{
	float:left;
	width: 270px;
}
.box-2 .form-btn{
	float:left;
	width: 86px;
	height: 40px;
	font-size: 14px;
	line-height: 40px;
	border: 1px solid #ececec;
	background: none;
}
.box-2 .form-btn:hover{
	border: 1px solid #FC4349;
}
.box-2 .rem .jzmm{
	margin-left: 20px;
}
.box-2 .rem .jzmm a{
	color: #FC4349;
}
.box-2 .btn{
    display: inline-block;
	width: 100%;
	margin-top: 30px;
  	margin-bottom: 60px;
  	height: 45px;
  	line-height: 45px;
  	text-align: center;

}
.box-2 .btn input{
	
  	background: none;
  	font-size: 15px;
  	color:  #fff;
  	border: 0;
}
.box-2 .form{
	margin-top: 35px;
}